* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'cursiva', sans-serif;
}
body{
    margin: 0;
}

#imagemFundo{
    position:relative;
    height:100vh;
    width:100vw;
    background: url(../fundo.jpg);
    background-size: cover;
}
/*
aqui serve para chamar a class conteudo e mexer em toda a sua parte de css.
*/
.conteudo {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

table td {
    display: inline-block;
}
/*
aqui chama a class dos botoes e modifica o css.
*/
.btn {
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(41, 39, 39);
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: all 500ms ease-in-out;

}

.btn:hover {
    background-color: rgb(187, 184, 184);
}
.ac {
    margin: 3px;
    width: 50px;
    height: 40px;
    background-color: rgb(45, 49, 92);
}

.ac:hover{
    background-color: rgb(105, 111, 175);
}

.especial1 {
    margin: 3px;
    width: 50px;
    height: 40px;
    background-color: rgb(0, 21, 255);
}

.especial1:hover{
    background-color: rgb(41, 47, 117);
}

.especial2 {
    margin: 3px;
    width: 50px;
    height: 40px;
    background-color: rgb(255, 0, 212);
}

.especial2:hover{
    background-color: rgb(102, 44, 93);
}
.especial3 {
    margin: 3px;
    width: 50px;
    height: 40px;
    background-color: rgb(0, 255, 34);
}

.especial3:hover{
    background-color: rgb(37, 85, 32);
}
.especial4 {
    margin: 3px;
    width: 50px;
    height: 40px;
    background-color: rgb(255, 0, 0);
}

.especial4:hover{
    background-color: rgb(97, 38, 38);
}

.igual {
    margin: 3px;
    width: 50px;
    height: 40px;
    background-color: rgb(45, 49, 92);
}

.igual:hover{
    background-color: rgb(105, 111, 175);
}

.result{
    height: 100px;
    color: aliceblue;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    border-bottom: 1px solid rgb(45, 49, 92);
}