* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'cursiva', sans-serif;


}
body{
background-color: rgb(9, 230, 230);
}

.calculator {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: black;
}

table td {
    display: inline-block;
}